#Impoting lib

In [ ]:
import pandas as pd
import numpy as np

#Read CSV file

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/ybifoundation/Dataset/main/Titanic.csv')

#Top 5 data

In [ ]:
df.head(5)

#Last 5 data

In [ ]:
df.tail()

#Info

In [ ]:
df.info()

#describe

In [ ]:
df.describe()

#create csv file(demo)

In [ ]:
import pandas as pd
import numpy as np

dict1 = {"name" : ["A","B","C","D"],
         "Score" : [1,2,3,4],
         "Designation" : ["Mgr", "CEO", "Techn.","Intern"]}

df = pd.DataFrame(dict1)
df.to_csv("Demo.csv")

dataset = pd.read_csv("Demo.csv")
print(dataset)
print("\n\n--------------------\n\n")
dataset.info()
print("\n\n---------------------\n\n")
dataset.index = ['a','b','c','d']
print(dataset)
print("\n\n---------------------\n\n")
dataset.dtypes

   Unnamed: 0 name  Score Designation
0           0    A      1         Mgr
1           1    B      2         CEO
2           2    C      3      Techn.
3           3    D      4      Intern


--------------------


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   4 non-null      int64
 1   name         4 non-null      object
 2   Score        4 non-null      int64
 3   Designation  4 non-null      object
dtypes: int64(2), object(2)
memory usage: 256.0+ bytes


---------------------


   Unnamed: 0 name  Score Designation
a           0    A      1         Mgr
b           1    B      2         CEO
c           2    C      3      Techn.
d           3    D      4      Intern


---------------------

Unnamed: 0      int64
name           object
Score           int64
Designation    object
dtype: object

#Using numpy rand

In [ ]:
newdf = pd.DataFrame(np.random.rand(334,5),index=np.arange(334))
newdf
#newdf.T === it'll transpose the whole dataset. Row will change in to col and col will into row
#newdf.sort_index(axis=0, ascending=False)   #axis=0 ==row; axoz=1 ==col
# to change a value in any location we don't change it by newdf[0][0]=55     ;   but we use newdf.loc[0,0]=55
# newdf.drop(0, axis=1), if col of name 0 is to be removed!    if index then newdf.drop(0,axis=0)

#gh