# Approache types for a problem: 
- Ordinary least square
- K Near Neighbour
- Support Vector machine
- Decision tree
- Random forest
- Ensemble methods
- Deep-learning

# Steps of Ordinary Least Square Method  ( OLS )
- import library
- import data
- define x and y
- split data into train and trest
- chose model
- train model
- predict model
- check accuracy of model

# STEP 1: Importing libraries

In [4]:
import pandas as pd

# STEP 2: Import Data

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/ybifoundation/Dataset/main/Admission%20Chance.csv')

In [5]:
df.head()

,Serial No,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Serial No          400 non-null    int64
 1   GRE Score          400 non-null    int64
 2   TOEFL Score        400 non-null    int64
 3   University Rating  400 non-null    int64
 4    SOP               400 non-null    float64
 5   LOR                400 non-null    float64
 6   CGPA               400 non-null    float64
 7   Research           400 non-null    int64
 8   Chance of Admit    400 non-null    float64
dtypes: float64(4), int64(5)
memory usage: 28.2 KB

# STEP 3: Define x and y

In [18]:
y = df['Chance of Admit ']
X = df[['GRE Score','TOEFL Score','University Rating','CGPA','Research',]]

# STEP 4: Split data into train and test

In [19]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,train_size=0.7,random_state=2529)

# STEP 5: Choose the model

In [20]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

# STEP 6: Train Model

In [21]:
model.fit(X_train,y_train)

LinearRegression()

# STEP 7: Predict Model

In [23]:
y_pred = model.predict(X_test)

# STEP 8: Check accuracy of the model

In [26]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_test, y_pred)

0.04593550144820506